*.cache
*.class
*.classpath
*.DS_Store
*.iml
*.ipch
*.ipr
*.iws
*.log
*.log.*
*.opensdf
*.orig
*.out
*.pdb
*.prefs
*.project
*.sdf
*.suo
*.user
.gradle/
.metadata/
.recommenders
.settings/
**/log
bin/
build/
build-generated-src/
build-test-generated-src/
**/.*~
**/.nuget/**
**/201[0-9]*/data-*
**/201[0-9]*/index-*
**/cs/obj/**
**/data-????-?
**/Debug/**
**/obj/Release/**
**/packages/*
loggerConfig-*.prop
logger-config-*.prop
loggerConfig*.xml
